In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
df = pd.read_csv(url, error_bad_lines=False)

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
141398  2020-05-13    Sublette     Wyoming  56035.0      3       0
141399  2020-05-13  Sweetwater     Wyoming  56037.0     20       0
141400  2020-05-13       Teton     Wyoming  56039.0     99       1
141401  2020-05-13       Uinta     Wyoming  56041.0      9       0
141402  2020-05-13    Washakie     Wyoming  56043.0      7       0

[141403 rows x 6 columns]